@import '~bootstrap/scss/bootstrap';

$body-bg-color: $white;

body {
  background-color: $body-bg-color;
}
h1 {
  color: #e65353;
  font-family: 'Lobster', cursive;
  display: flex;
  justify-content: center;
}

.instructions {
  border: solid 2px black;
  border-radius: 20px;
  text-align: left;
  background: #ebe1c0;
}

.content {
  background: white;
}

.panel {
  border: solid 2px black;
  border-radius: 20px;
  background: #ebe1c0;
  text-align: left;
}

.box {
  border: solid black 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  background: #c2bdb6;
  color: black;
  height: width;
}

.box:hover {
  background: #e65353;
}

.success {
  color: green;
}

.failure {
  color: red;
}
